In [6]:
import pandas as pd
import torch

movies=pd.read_csv('movies_cleaned_final4.csv')

In [7]:
movies["genres"].value_counts().reset_index()

                                        genres  count
0                                  Documentary   2145
1                                        Drama   1709
2                                       Comedy    839
3                                    Animation    411
4                                        Music    350
...                                        ...    ...
1279               Romance-Drama-Comedy-Family      1
1280                  Documentary-Drama-Family      1
1281         Family-Fantasy-Adventure-TV Movie      1
1282  Adventure-Fantasy-TV Movie-Action-Family      1
1283       Crime-Drama-Romance-Thriller-Action      1

[1284 rows x 2 columns]

In [8]:
movies["genres"].value_counts().reset_index().query("count>50")

                 genres  count
0           Documentary   2145
1                 Drama   1709
2                Comedy    839
3             Animation    411
4                 Music    350
5                Horror    318
6         Drama-Romance    239
7          Comedy-Drama    203
8                Action    149
9          Drama-Comedy    121
10              Western    119
11             Thriller    118
12       Comedy-Romance    112
13        Romance-Drama     94
14    Documentary-Music     88
15              Romance     80
16       Drama-Thriller     75
17         Action-Drama     71
18  Documentary-History     70
19      Horror-Thriller     70
20               Family     69
21      Science Fiction     67
22       Drama-TV Movie     64
23    Music-Documentary     63
24          Crime-Drama     60
25          Drama-Crime     59
26         Drama-Family     54
27        Drama-History     51

In [9]:
movies

,id,title,genres,overview,vote_average,movie_age,tagged_overview1
0,838513,POV: Points Of View,NaN,Los Angeles 2025. As an Insighter you have bee...,0.0,4.0,838513 Los Angeles 2025. As an Insighter you h...
1,370005,Storm,Drama-TV Movie,An elderly gentleman lives alone with his mai...,5.8,65.4,370005 An elderly gentleman lives alone with ...
2,590634,Friended: Deep Dark Web,Comedy,Marcus has invented the ultimate dating app ut...,1.0,6.6,590634 Marcus has invented the ultimate dating...
3,832873,Feedback Sketch #1,NaN,Multiple clips of video feedback (a MiniDV cam...,0.0,4.1,832873 Multiple clips of video feedback (a Min...
4,592976,Verdi: Otello,Music,Like an outcry the elemental force of the orch...,0.0,6.5,592976 Like an outcry the elemental force of t...
...,...,...,...,...,...,...,...
14995,302694,Bridgend,Mystery-Documentary,Since 2007 dozens of young people have been fo...,6.7,12.0,302694 Since 2007 dozens of young people have ...
14996,771282,Imaginary Portrait,Fantasy,Through the creation of a family portrait a me...,7.0,4.9,771282 Through the creation of a family portra...
14997,505538,Oscar D' Leon - Live From London,Music,After several undistinguished albums in the ea...,0.0,37.3,505538 After several undistinguished albums in...
14998,24613,Kurbaan,Crime-Drama-Romance-Thriller-Action,When a handsome young Indian couple (Saif Ali ...,4.9,15.6,24613 When a handsome young Indian couple (Sai...
14999,717022,Go! Anpanman: Nanda and Runda from the Star of...,Animation-Family,The super pastry hero must help a selfish prin...,0.0,8.9,717022 The super pastry hero must help a selfi...

In [10]:
category_mapping = {
    'Documentary':'Documentary',
    'Documentary-Music':'Documentary',
    'Music-Documentary':'Documentary',
    'Documentary-History':'Documentary',
    'Music':'Documentary',
    'Drama':'Drama',
    'Drama-Romance':'Drama',
    'Comedy-Drama':'Comedy',
    'Drama-Comedy':'Drama',
    'Romance-Drama':'Romance',
    'Drama-TV Movie':'Drama',
    'Crime-Drama':'Drama',
    'Drama-Crime':'Drama',
    'Drama-Family':'Drama',
    'Drama-History':'Drama',
    'Comedy':'Comedy',
    'Comedy-Romance':'Comedy',
    'Horror':'Horror-Thriller',
    'Horror-Thriller':'Horror-Thriller',
    'Thriller':'Horror-Thriller',
    'Action':'Action',
    'Action-Drama':'Action',
    'Romance':'Romance',
    'Romance-Comedy':'Romance',
    'Animation':'Fiction',
    'Science Fiction':'Fiction',
    'Western':'Action',
    'Family':'Drama',
    'Animation-Family':'Fiction',
    'Fantasy':'Fiction',
    'Animation-Comedy':'Fiction',
    'Horror-Comedy':'Comedy',
    'Thriller-Horror':'Horror-Thriller'

}

In [11]:
movies["simple_categories"]=movies["genres"].map(category_mapping)

In [12]:
movies

,id,title,genres,overview,vote_average,movie_age,tagged_overview1,simple_categories
0,838513,POV: Points Of View,NaN,Los Angeles 2025. As an Insighter you have bee...,0.0,4.0,838513 Los Angeles 2025. As an Insighter you h...,NaN
1,370005,Storm,Drama-TV Movie,An elderly gentleman lives alone with his mai...,5.8,65.4,370005 An elderly gentleman lives alone with ...,Drama
2,590634,Friended: Deep Dark Web,Comedy,Marcus has invented the ultimate dating app ut...,1.0,6.6,590634 Marcus has invented the ultimate dating...,Comedy
3,832873,Feedback Sketch #1,NaN,Multiple clips of video feedback (a MiniDV cam...,0.0,4.1,832873 Multiple clips of video feedback (a Min...,NaN
4,592976,Verdi: Otello,Music,Like an outcry the elemental force of the orch...,0.0,6.5,592976 Like an outcry the elemental force of t...,Documentary
...,...,...,...,...,...,...,...,...
14995,302694,Bridgend,Mystery-Documentary,Since 2007 dozens of young people have been fo...,6.7,12.0,302694 Since 2007 dozens of young people have ...,NaN
14996,771282,Imaginary Portrait,Fantasy,Through the creation of a family portrait a me...,7.0,4.9,771282 Through the creation of a family portra...,Fiction
14997,505538,Oscar D' Leon - Live From London,Music,After several undistinguished albums in the ea...,0.0,37.3,505538 After several undistinguished albums in...,Documentary
14998,24613,Kurbaan,Crime-Drama-Romance-Thriller-Action,When a handsome young Indian couple (Saif Ali ...,4.9,15.6,24613 When a handsome young Indian couple (Sai...,NaN
14999,717022,Go! Anpanman: Nanda and Runda from the Star of...,Animation-Family,The super pastry hero must help a selfish prin...,0.0,8.9,717022 The super pastry hero must help a selfi...,Fiction

In [13]:
movies[~(movies["simple_categories"].isna())]

,id,title,genres,overview,vote_average,movie_age,tagged_overview1,simple_categories
1,370005,Storm,Drama-TV Movie,An elderly gentleman lives alone with his mai...,5.8,65.4,370005 An elderly gentleman lives alone with ...,Drama
2,590634,Friended: Deep Dark Web,Comedy,Marcus has invented the ultimate dating app ut...,1.0,6.6,590634 Marcus has invented the ultimate dating...,Comedy
4,592976,Verdi: Otello,Music,Like an outcry the elemental force of the orch...,0.0,6.5,592976 Like an outcry the elemental force of t...,Documentary
6,589895,Wheels Across Africa,Documentary,"Armand Denis who produced ""Kriss"" and ""Goona-G...",0.0,89.4,"589895 Armand Denis who produced ""Kriss"" and ""...",Documentary
8,190630,The Gordon Sisters Boxing,Documentary,The champion lady boxers of the world. Shows t...,5.4,124.2,190630 The champion lady boxers of the world. ...,Documentary
...,...,...,...,...,...,...,...,...
14993,496799,Living With an Idiot,Comedy,The main character is an intellectual from Rus...,0.0,31.8,496799 The main character is an intellectual f...,Comedy
14994,664285,This Is Not Sex,Comedy,"Sex sells. Sex kills. Sex thrills. ""This Is No...",0.0,16.7,"664285 Sex sells. Sex kills. Sex thrills. ""Thi...",Comedy
14996,771282,Imaginary Portrait,Fantasy,Through the creation of a family portrait a me...,7.0,4.9,771282 Through the creation of a family portra...,Fiction
14997,505538,Oscar D' Leon - Live From London,Music,After several undistinguished albums in the ea...,0.0,37.3,505538 After several undistinguished albums in...,Documentary
14999,717022,Go! Anpanman: Nanda and Runda from the Star of...,Animation-Family,The super pastry hero must help a selfish prin...,0.0,8.9,717022 The super pastry hero must help a selfi...,Fiction

In [22]:

from transformers import pipeline

categories2=["Documentary","Drama"]
pipe=pipeline("zero-shot-classification",model="facebook/bart-large-mnli",device="mps")

Device set to use mps

In [23]:
sequence=movies.loc[movies["simple_categories"]=="Drama","overview"].reset_index(drop=True)[0]

In [24]:
pipe(sequence,categories2)

{'sequence': 'An elderly gentleman  lives alone with his maid Louise. He spends his days chatting with the confectioner who lives and works downstairs playing chess with his brother Karl Fredrick and content with his memories. His young wife Gerda ran out on him five years ago taking their young daughter with her. Now unbeknownst to the gentleman sheâ€™s backâ€¦ and living in the upstairs apartment with the child and her new husband. When Gerda finally faces the man sparks will fly and old wounds will be reopened.  Bergman\'s TV adaptation of August Strindberg\'s play "Storm" was presented on the 111th anniversary of the author\'s birth. The production was also shown in Denmark and Norway and received glowing reviews. Bergman was celebrated as an outstanding TV director and was praised for his tact and sympathy in depicting old age his superior lighting and fine camera work as well as his understanding of the medium in his use of close-ups.',
 'labels': ['Drama', 'Documentary'],
 'scores': [0.5238438844680786, 0.476156085729599]}

In [25]:
import numpy as np
max_index=np.argmax(pipe(sequence,categories2)["scores"])
max_label=pipe(sequence,categories2)["labels"][max_index]
max_label

'Drama'

In [26]:
def generate_predictions(sequence,categories):
    predictions=pipe(sequence,categories)
    max_index=np.argmax(predictions["scores"])
    max_label=predictions["labels"][max_index]
    return max_label

In [27]:
from tqdm import tqdm

actual_cats=[]
predicted_cats=[]

for i in tqdm(range(0,300)):
    sequence=movies.loc[movies["simple_categories"]=="Drama","overview"].reset_index(drop=True)[i]
    predicted_cats+=[generate_predictions(sequence,categories2)]
    actual_cats+=["Drama"]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 300/300 [00:37<00:00,  8.09it/s]

In [28]:
for i in tqdm(range(0,300)):
    sequence=movies.loc[movies["simple_categories"]=="Documentary","overview"].reset_index(drop=True)[i]
    predicted_cats+=[generate_predictions(sequence,categories2)]
    actual_cats+=["Documentary"]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 300/300 [00:35<00:00,  8.55it/s]

In [29]:
predictions_df=pd.DataFrame({"actual_categories":actual_cats,"predicted_categories":predicted_cats})

In [30]:
predictions_df

    actual_categories predicted_categories
0               Drama                Drama
1               Drama          Documentary
2               Drama                Drama
3               Drama                Drama
4               Drama                Drama
..                ...                  ...
595       Documentary          Documentary
596       Documentary          Documentary
597       Documentary          Documentary
598       Documentary          Documentary
599       Documentary          Documentary

[600 rows x 2 columns]

In [34]:
predictions_df["correct_prediction"]=(
    np.where(predictions_df["actual_categories"]==predictions_df["predicted_categories"],1,0)
)

In [35]:
predictions_df["correct_prediction"].sum()/len(predictions_df)

np.float64(0.7483333333333333)

In [42]:
ids=[]
predicted_cats=[]

missing_cats=movies.loc[movies["simple_categories"].isna(),["id","overview"]].reset_index(drop=True)

In [43]:
missing_cats

          id                                           overview
0     838513  Los Angeles 2025. As an Insighter you have bee...
1     832873  Multiple clips of video feedback (a MiniDV cam...
2      45391  Ekin Cheng stars in this gritty triad action d...
3     702205  Mr. Harry who suffers from a "peanut sized" pe...
4     604840  A short documentary about the local "Gion" fes...
...      ...                                                ...
6959  158290  This documentary tells the rich 47-year histor...
6960  551314  Around the sleeping bodies some presences occu...
6961  734796  After Mirta dies of a drug overdose with her l...
6962  302694  Since 2007 dozens of young people have been fo...
6963   24613  When a handsome young Indian couple (Saif Ali ...

[6964 rows x 2 columns]

In [44]:
for i in tqdm(range(0,len(missing_cats))):
    sequence=missing_cats["overview"][i]
    predicted_cats+=[generate_predictions(sequence,categories2)]
    ids+=[missing_cats["id"][i]]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6964/6964 [14:19<00:00,  8.11it/s]

In [50]:
missing_predicted_df=pd.DataFrame({"id":ids,"predicted_categories":predicted_cats})

In [51]:
missing_predicted_df

          id predicted_categories
0     838513          Documentary
1     832873                Drama
2      45391                Drama
3     702205                Drama
4     604840          Documentary
...      ...                  ...
6959  158290          Documentary
6960  551314          Documentary
6961  734796                Drama
6962  302694                Drama
6963   24613                Drama

[6964 rows x 2 columns]

In [52]:
movies=pd.merge(movies,missing_predicted_df,on="id",how="left")

In [53]:
movies

,id,title,genres,overview,vote_average,movie_age,tagged_overview1,simple_categories,predicted_categories
0,838513,POV: Points Of View,NaN,Los Angeles 2025. As an Insighter you have bee...,0.0,4.0,838513 Los Angeles 2025. As an Insighter you h...,NaN,Documentary
1,370005,Storm,Drama-TV Movie,An elderly gentleman lives alone with his mai...,5.8,65.4,370005 An elderly gentleman lives alone with ...,Drama,NaN
2,590634,Friended: Deep Dark Web,Comedy,Marcus has invented the ultimate dating app ut...,1.0,6.6,590634 Marcus has invented the ultimate dating...,Comedy,NaN
3,832873,Feedback Sketch #1,NaN,Multiple clips of video feedback (a MiniDV cam...,0.0,4.1,832873 Multiple clips of video feedback (a Min...,NaN,Drama
4,592976,Verdi: Otello,Music,Like an outcry the elemental force of the orch...,0.0,6.5,592976 Like an outcry the elemental force of t...,Documentary,NaN
...,...,...,...,...,...,...,...,...,...
15049,302694,Bridgend,Mystery-Documentary,Since 2007 dozens of young people have been fo...,6.7,12.0,302694 Since 2007 dozens of young people have ...,NaN,Drama
15050,771282,Imaginary Portrait,Fantasy,Through the creation of a family portrait a me...,7.0,4.9,771282 Through the creation of a family portra...,Fiction,NaN
15051,505538,Oscar D' Leon - Live From London,Music,After several undistinguished albums in the ea...,0.0,37.3,505538 After several undistinguished albums in...,Documentary,NaN
15052,24613,Kurbaan,Crime-Drama-Romance-Thriller-Action,When a handsome young Indian couple (Saif Ali ...,4.9,15.6,24613 When a handsome young Indian couple (Sai...,NaN,Drama
15053,717022,Go! Anpanman: Nanda and Runda from the Star of...,Animation-Family,The super pastry hero must help a selfish prin...,0.0,8.9,717022 The super pastry hero must help a selfi...,Fiction,NaN

In [54]:
movies["simple_categories"]=np.where(movies["simple_categories"].isna(),movies["predicted_categories"],movies["simple_categories"])
movies=movies.drop(columns=["predicted_categories"])

In [55]:
movies

,id,title,genres,overview,vote_average,movie_age,tagged_overview1,simple_categories
0,838513,POV: Points Of View,NaN,Los Angeles 2025. As an Insighter you have bee...,0.0,4.0,838513 Los Angeles 2025. As an Insighter you h...,Documentary
1,370005,Storm,Drama-TV Movie,An elderly gentleman lives alone with his mai...,5.8,65.4,370005 An elderly gentleman lives alone with ...,Drama
2,590634,Friended: Deep Dark Web,Comedy,Marcus has invented the ultimate dating app ut...,1.0,6.6,590634 Marcus has invented the ultimate dating...,Comedy
3,832873,Feedback Sketch #1,NaN,Multiple clips of video feedback (a MiniDV cam...,0.0,4.1,832873 Multiple clips of video feedback (a Min...,Drama
4,592976,Verdi: Otello,Music,Like an outcry the elemental force of the orch...,0.0,6.5,592976 Like an outcry the elemental force of t...,Documentary
...,...,...,...,...,...,...,...,...
15049,302694,Bridgend,Mystery-Documentary,Since 2007 dozens of young people have been fo...,6.7,12.0,302694 Since 2007 dozens of young people have ...,Drama
15050,771282,Imaginary Portrait,Fantasy,Through the creation of a family portrait a me...,7.0,4.9,771282 Through the creation of a family portra...,Fiction
15051,505538,Oscar D' Leon - Live From London,Music,After several undistinguished albums in the ea...,0.0,37.3,505538 After several undistinguished albums in...,Documentary
15052,24613,Kurbaan,Crime-Drama-Romance-Thriller-Action,When a handsome young Indian couple (Saif Ali ...,4.9,15.6,24613 When a handsome young Indian couple (Sai...,Drama
15053,717022,Go! Anpanman: Nanda and Runda from the Star of...,Animation-Family,The super pastry hero must help a selfish prin...,0.0,8.9,717022 The super pastry hero must help a selfi...,Fiction

In [56]:
movies[(movies["simple_categories"].isna())]

Empty DataFrame
Columns: [id, title, genres, overview, vote_average, movie_age, tagged_overview1, simple_categories]
Index: []

In [57]:
movies.to_csv("movies_with_categories.csv",index=False)